.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  top:65px !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.toolBar{
  height: 65px;
}
.mainDiv{
  height: calc(100vh - 65px);
}
.auth-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.noMarginPadding{
  padding:0 ;
  margin: 0;
}
._flex-spaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}