<div class="question-dialog">
  <div class="form-group ">
    <mat-form-field class=" col-md-6">
      <mat-select placeholder="Select Parent" [(ngModel)]="question.parentId">
        <mat-option *ngFor="let que of questions;let i = index" [value]="que.externalId" [disabled]="que.externalId==question.externalId">{{que.externalId}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class=" col-md-3" *ngIf="question.parentId">
      <mat-select placeholder="Visible If" [(ngModel)]="question.visibleIf[0].operator">
        <mat-option value="===">Equals</mat-option>
        <mat-option value=">">Greater than</mat-option>
        <mat-option value="!==">Not equal</mat-option>
        <mat-option value=">=">Greater than equal</mat-option>
        <mat-option value="<=">Less than equals</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class=" col-md-3" *ngIf="question.visibleIf[0].operator">
      <input matInput [(ngModel)]="question.visibleIf[0].value" placeholder="Value">
    </mat-form-field>
    <!-- <div class="col-md-2"> -->
    <!-- <mat-input type="text" [(ngModel)]="question.visibleIfValue" placeholder="Value"> -->
    <!-- <mat-input-container floatPlaceholder="auto">
      <input matInput formControlName="formControlName" type="text" required placeholder="">
    </mat-input-container> -->
    <!-- </div> -->
  </div>

  <div class="form-group ">
    <mat-form-field class=" col-md-3">
      <mat-select placeholder="Select Evidence" [(ngModel)]="question.evidenceIndex" (selectionChange)="pushEvidence($event.value)">
        <mat-option *ngFor="let evidence of criteria.evidences;let i = index" [value]="i">{{evidence.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- </div>

  <div class="form-group col-md-6"> -->
    <mat-form-field class="col-md-6">
      <mat-select placeholder="Select Sections" [(ngModel)]="question.sectionIndex" (selectionChange)="pushEvidenceSections($event.value)">
        <mat-option *ngFor="let section of question.sections; let j=index" [value]="j">{{section.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="question.externalId" placeholder="External ID">
  </div>
  <hr>
  <div class="form-group">
    <button type="button" class=" btn btn-outline-dark btn-sm" (click)="addQuestion()">
      Add Question Translation
    </button>

    <div class="form-group mb-3" *ngFor="let option of question.questions ; let i = index">
      <input type="text" class="form-control" [(ngModel)]="question.questions[i].value" placeholder="Question"
        aria-label="Question" aria-describedby="questions">
      <div class="form-group-append">
        <span class="form-group-text question-remove-btn" id="questions" (click)="removeQuestion(i)">Remove</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="question.tip" placeholder="Question Tip">
  </div>

  <div class="form-group">
    <div class="form-group">
      <label for="responseType">Question Type</label>
      <select class="form-control" [(ngModel)]="question.responseType" id="responseType">
        <option value="radio">Radio</option>
        <option value="multiSelect">Multi Select</option>
        <option value="text">Text</option>
        <option value="number">Number</option>
        <option value="date">Date</option>
        <option value="matrix">Matrix</option>
      </select>
    </div>
  </div>

  <div class="form-group" *ngIf="question.responseType != 'matrix'">
    <button type="button" class=" btn btn-outline-dark btn-sm" (click)="addOption()" *ngIf="['multiSelect','radio'].indexOf(question.responseType)> -1 ">
      Add New Options
    </button>
    <div class="question-options-dev" *ngFor="let option of question.options ; let i = index">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="question.options[i].value" placeholder="Value">
        </div>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="question.options[i].label" placeholder="Label">
        </div>

        <button type="button" class=" btn btn-outline-dark btn-sm" (click)="removeOption(i)" *ngIf="['multiSelect','radio'].indexOf(question.responseType)> -1 ">Remove</button>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="question.responseType == 'matrix'">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="question.instanceIdentifier" placeholder="Instance Identifier">
      </div>
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="question.noOfInstances" placeholder="Enter no of meetings
    recorded">
      </div>
      <div class="col">
        <mat-checkbox [(ngModel)]="question.notApplicable">Not Applicable</mat-checkbox>
      </div>
    </div>
    <br>
    <div class="row">

      <div class="col">
        <textarea class="form-control" placeholder="Select Instance Questions" [(ngModel)]="question.instanceQuestions"></textarea>
        <!-- <mat-select placeholder="Select Instance Questions" [(ngModel)]="question.instanceQuestions" multiple>
          <mat-option *ngFor="let que of questions;let i = index" [value]="que.externalId" [disabled]="que.externalId==question.externalId">{{que.externalId}}</mat-option>
        </mat-select> matInput-->
      </div>
    </div>
  </div>

  <hr>
  <div class="form-group">
    <mat-checkbox [(ngModel)]="question.file.required">File Required</mat-checkbox>
  </div>
  <div class="form-group" *ngIf="question.file.required">
    <mat-form-field class="col-md-6">
      <mat-select [(ngModel)]="question.file.type" placeholder="File Type" multiple>
        <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="col-md-6" [(ngModel)]="question.file.caption">Caption</mat-checkbox>
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="question.file.minCount" placeholder="Minimum number of files">
      </div>
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="question.file.maxCount" placeholder="Maximum number of files">
      </div>

    </div>
  </div>

  <hr>
  <div class="form-group">
    <label>Validation</label>
    <div class="form-group">
      <mat-checkbox class="col-md-6" [(ngModel)]="question.validation.required">Answer Required</mat-checkbox>
      <mat-checkbox class="col-md-6" [(ngModel)]="question.validation.isNumber" (change)="question.validation.regex = question.validation.isNumber?'(?<=s|^)d+(?=s|$)':''">Is
        Number</mat-checkbox>

    </div>
  </div>

  <hr>
  <div class="form-group">
    <div class="form-group">
      <label for="questionType">Question Type</label>
      <select class="form-control" [(ngModel)]="question.questionType" id="questionType">
        <option value="auto">Auto</option>
        <option value="manual">Manual</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group">
      <label for="modeOfCollection">Mode of Collection</label>
      <select class="form-control" [(ngModel)]="question.modeOfCollection" id="modeOfCollection">
        <option value="onfield">On Field</option>
        <option value="oncall">On Call</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="question.usedForScoring" placeholder="User For Scoring">
  </div>

  <div class="form-group">
    <mat-form-field class="col-md-6">
      <mat-select [(ngModel)]="question.questionGroup" placeholder="Question Group" multiple>
        <mat-option *ngFor="let type of ['GOVT','PRIVATE']" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <hr>

  <div class="form-group">
    <mat-form-field class="col-md-6">
      <mat-select [(ngModel)]="question.accessibility" placeholder="Accessibility">
        <mat-option *ngFor="let accessibility of ['local','global']" [value]="accessibility">{{accessibility}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox class="col-md-6" [(ngModel)]="question.showRemarks">Show Remark</mat-checkbox>
  </div>
  <button type="button" class=" btn btn-outline-dark btn-sm" (click)="save()">
    save
  </button>
  <button type="button" class=" btn btn-outline-dark btn-sm" (click)="cancel()">
    cancel
  </button>
</div>