.from-group.ng-star-inserted {
  display: inline;
}
.sl-container {
  margin: 10px;
}

.display-inline {
  display: inline;
}

.question-remove-btn {
  cursor: pointer;
}

.question-dialog {
  position: relative;
  height: 100%;
}
._noMarginPadding{
  margin: 0;
  padding: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
