.question-dialog {
  position: relative;
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.criteria-success {
  font-size: 25px;
}

.criteria-id-text {
  font-size: 20px;
  color: #777777;
}
.criteria-id {
  font-size: 35px;
  text-align: center;
}
