<div class="column">
    <p><b><%= allDateData.question %></b></p>
    <br>
    <div class="center">
        <time class="icon">
            <em><%= allDateData.year %></em>
            <strong><%= allDateData.month %></strong>
            <span><%= allDateData.day %></span>
        </time>
    </div>
</div>