<div class="column">
    <p><b><%= allMultiSelectData.question %></b></p>
    <br>
    <% for(let pointerToSubmittedData= 0 ; pointerToSubmittedData < allMultiSelectData.options.length ; pointerToSubmittedData++){ %>
    <div class="spacing">
        <%if (allMultiSelectData.options[pointerToSubmittedData].checked === true) { %>
        <input type="checkbox" checked="checked"><%= allMultiSelectData.options[pointerToSubmittedData].label %><br>
        <% } %>
        <%if (!allMultiSelectData.options[pointerToSubmittedData].checked === true) { %>
        <input type="checkbox"><%= allMultiSelectData.options[pointerToSubmittedData].label %><br>
        <% } %>
    </div>
    <% } %>

</div>