<div class="column">
    <p><b><%= allSliderData.question %></b></p>
    <br>
    <div class="spacing">
        <div id="progressbar">
            <div style=<%= allSliderData.sliderWidth %>><%= allSliderData.answer %></div>
        </div>
    </div>

</div>